<div class="sidenav-container">
    <button mat-fab
            class="nav-button selected"
            matTooltip="Spells, Equipment, Feats and Magic Items"
            matTooltipClass="my-tooltip"
            position="right">
        <mat-icon>manage_search</mat-icon>
    </button>
    <button mat-fab
            class="nav-button"
            matTooltip="Lore (Theros)"
            matTooltipClass="my-tooltip"
            position="right">
        <mat-icon>menu_book</mat-icon>
    </button>
    <button mat-fab
            class="nav-button"
            matTooltip="DM Screen"
            matTooltipClass="my-tooltip"
            position="right">
        <mat-icon>admin_panel_settings</mat-icon>
    </button>
</div>

