.container{
    min-height: var(--card-min-height);
    margin-bottom: 5px;
    
    .materials{
        font-style: italic;
        font-size: 12px;
    }

    .active{
        color: #00FFFF
    }
    .inactive{
        color: #3e3e3e
    }

    .component-icon{
        top: 5px;
        position: relative;
    }
}
