<div class="container">

    <h4>{{data.name}}</h4>
    <h5>{{data.notes}}</h5>
    <p>
        <label>Name: </label>
        <span>{{data.name}}</span>
    </p>
    <p>
        <label>Category: </label>
        <span>{{data.category}}</span>
    </p>
    <p>
        <label>Cost: </label>
        <span>{{data.cost}}</span>
    </p>
    <p>
        <label>Damage: </label>
        <span>{{data.damage}}</span>
    </p>
    <p>
        <label>Weight: </label>
        <span>{{data.weight}}</span>
    </p>
</div>
