<div class="container">
    <h3 class="title" (click)="showDescription = !showDescription">{{data.name}}</h3>
    <div *ngIf="showDescription">
        <p>
            <label>Name: </label>
            <span>{{data.name}}</span>
        </p>
        <p>
            <label>Casting Time: </label>
            <span>{{data.category}}</span>
        </p>
        <p>
            <label>Range/Area: </label>
            <span>{{data.cost}}</span>
        </p>
        <p>
            <label>Components: </label>
            <span>{{data.damage}}</span>
        </p>
        <p>
            <label>Duration: </label>
            <span>{{data.notes}}</span>
        </p>
        <p>
            <label>School: </label>
            <span>{{data.weight}}</span>
        </p>
        
        <p class="description">{{data.description}}</p>
    </div>
</div>
