<div class="search-container">
    <fiveE-archive-search-bar [config]="searchBarConfig" (filterSubmitted)="filterSearched($event)"></fiveE-archive-search-bar>
</div>

<div class="card-container" *ngFor="let magic_item of magic_items">
    <fiveE-archive-card-container
        [description]="[magic_item.upperDescription, magic_item.mainDescription, magic_item.lowerDescription]"
        [tags]="magic_item.footerTags"
        [sourcebook]="magic_item.sourcebook">
        <app-magic-item-card [data]="magic_item"></app-magic-item-card>
    </fiveE-archive-card-container>
</div>

