<div class="container">
   
    <h4> {{data.name}} </h4>
    <div>
        <label>Level: </label>
        <span>{{data.level}}</span>
    </div>
    <div>
        <label>Casting Time: </label>
        <span>{{data.casting_time}}</span>
    </div>
    <div>
        <label>Range/Area: </label>
        <span>{{data.range_area}}</span>
    </div>
    <div>
        <label>Components: </label>
        <span>{{data.components}}</span>
    </div>
    <div>
        <label>Duration: </label>
        <span>{{data.duration}}</span>
    </div>
    <div>
        <label>School: </label>
        <span>{{data.school}}</span>
    </div>
    <div>
        <label>Attack/Save: </label>
        <span>{{data.attack_save}}</span>
    </div>    
    <div>
        <label>Banned: </label>
        <span>{{data.banned}}</span>
    </div>
    <div>
        <label>Concentration: </label>
        <span>{{data.concentration}}</span>
    </div>
    <div>
        <label>Ritual: </label>
        <span>{{data.ritual}}</span>
    </div>
    <div>
        <label>Materials: </label>
        <span>{{data.materials}}</span>
    </div>
</div>
