<div class="container">
   
    <h4> {{data.name}} </h4>
    <div>
        <label>Level: </label>
        <span>{{data.level}}</span>
    </div>
    <div>
        <label>Casting Time: </label>
        <span>{{data.casting_time}}</span>
    </div>
    <div>
        <label>Range/Area: </label>
        <span>{{data.range_area}}</span>
    </div>
    <div>
        <label>Components: </label>
        <span>{{data.components}}</span>
        <mat-icon class="component-icon" *ngIf="!!data.concentration" color="primary" title="Concentration">psychology</mat-icon>
        <mat-icon class="component-icon" *ngIf="!!data.ritual" color="primary" title="Ritual">church</mat-icon>
    </div>
    <div>
        <<label>Duration: </label>>
        <span>{{data.duration}}</span>
    </div>
    <div>
        <label>School: </label>
        <span>{{data.school}}</span>
    </div>
    <div>
        <label>Attack/Save: </label>
        <span>{{data.attack_save}}</span>
    </div>    
        
    <div class="materials" *ngIf="!!data.materials">
        <span>{{data.materials}}</span>
    </div>
</div>
