<div class="body-container">
    <h4>{{title}}</h4>

    <mat-accordion [multi]="true">
        <!-- Spells -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Spells </mat-panel-title>
                <mat-panel-description> Spell Lookup </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <fiveE-archive-spells-page></fiveE-archive-spells-page>
            </ng-template>
        </mat-expansion-panel>

        <!-- Equipment -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Equipment </mat-panel-title>
                <mat-panel-description>
                Equipment Lookup
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <fiveE-archive-equips-page></fiveE-archive-equips-page>
            </ng-template>
        </mat-expansion-panel>

        <!-- Feats -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Feats </mat-panel-title>
                <mat-panel-description>
                Feat Lookup
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <fiveE-archive-feats-page></fiveE-archive-feats-page>
            </ng-template>
        </mat-expansion-panel>

        <!-- Magic Items -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Magic Items </mat-panel-title>
                <mat-panel-description>
                Magic Item Lookup
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <fiveE-archive-magic-items-page></fiveE-archive-magic-items-page>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    
</div>