.container{
    //border: 1px solid gray;
    //border-radius: 2px;
    margin-bottom: 5px;
    
    .title{
        cursor: pointer;
        padding: 10px;
    }
    .title:hover{
        background-color: rgb(186, 169, 246);
    }
    label{
        margin-right:15px;
    }
    p{
        margin: 2px;
    }
}
