<mat-drawer-container class="card-container" autosize>
    <!-- main view -->
    <div class="card-sidenav-content">
        <div class="content-wrapper">
            <ng-content></ng-content>
        </div>
        <div class="button-container">
            <button *ngIf="description != null"
                    type="button"
                    mat-mini-fab
                    (click)="openDrawer(drawer, 'description')"
                    title="Description">
                <mat-icon fontIcon="description"></mat-icon>
            </button>
            <button *ngIf="tags != null"
                    type="button"
                    mat-mini-fab
                    (click)="openDrawer(drawer, 'tags')"
                    title="Tags">
                <mat-icon fontIcon="sell"></mat-icon>
            </button>
            <button *ngIf="sourcebook != null"
                    type="button"
                    mat-mini-fab
                    (click)="openDrawer(drawer, 'sourcebook')"
                    title="Sourcebook">
                <mat-icon fontIcon="menu_book"></mat-icon>
            </button>
            <button *ngIf="classes != null"
                    type="button"
                    mat-mini-fab
                    (click)="openDrawer(drawer, 'classes')"
                    title="Classes">
                <mat-icon fontIcon="switch_account"></mat-icon>
            </button>
        </div>
    </div>

     <!-- Sliding panel -->
     <mat-drawer #drawer class="card-sidenav" mode="side" position="end" opened>
        <span *ngIf="drawerContent.title != null">{{drawerContent.title}}</span>
        <div class="description" *ngIf="this.currentSubject != null">
            {{drawerContent.body}}
        </div>
    </mat-drawer>
  
  </mat-drawer-container>
  